/* Footer.css */
.footer {
    background-color: black;
    color: white;
    padding: 20px 0;
  }

  .footer-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .footer-logo img {
    width: 100px;
  }

  @media (max-width: 750px) {
    .footer-logo img {
        width: 60px;
      }

    footer .social-icons {
    font-size: 25px;
    }
  }
  
  .footer p {
    text-align: center;
    font-size: 16px;
    color: grey;
    margin-bottom: 0;
  }

  .footer p a {
    color: orange;
    margin-top: 5px;
  }
